# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env
*.env

# macOS system files
.DS_Store

# Logs and temp
*.log
*.tmp
*.swp

# IDE settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


